In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("automatedTrafficVolumeCounts20250416.csv")

In [25]:
print(df.head())          # view the first 5 rows
print(df.info())          # view column types and non-null counts
print(df.columns)         # view column names

   RequestID      Boro    Yr   M   D  HH  MM  Vol  SegmentID  \
0      32970    Queens  2021   4  30   2   0    0     149701
1      32970    Queens  2021   4  30   2  15    1     149701
2      11342  Brooklyn  2012  12  18   8  15   33      20063
3      32970    Queens  2021   4  30   2  30    0     149701
4      32970    Queens  2021   4  30   2  45    0     149701

                                        WktGeom          street  \
0  POINT (997407.0998491726 208620.92612708386)  PULASKI BRIDGE
1  POINT (997407.0998491726 208620.92612708386)  PULASKI BRIDGE
2                     POINT (985746.5 167127.4)           61 ST
3  POINT (997407.0998491726 208620.92612708386)  PULASKI BRIDGE
4  POINT (997407.0998491726 208620.92612708386)  PULASKI BRIDGE

                    fromSt      toSt Direction
0  Newtown Creek Shoreline  Dead end        NB
1  Newtown Creek Shoreline  Dead end        NB
2                    15 AV     16 AV        WB
3  Newtown Creek Shoreline  Dead end        NB
4  Newtown Creek Shoreline  Dead end        NB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712605 entries, 0 to 1712604
Data columns (total 14 columns):
 #   Column     Dtype
---  ------     -----
 0   RequestID  int64
 1   Boro       object
 2   Yr         int64
 3   M          int64
 4   D          int64
 5   HH         int64
 6   MM         int64
 7   Vol        int64
 8   SegmentID  int64
 9   WktGeom    object
 10  street     object
 11  fromSt     object
 12  toSt       object
 13  Direction  object
dtypes: int64(8), object(6)
memory usage: 182.9+ MB
None
Index(['RequestID', 'Boro', 'Yr', 'M', 'D', 'HH', 'MM', 'Vol', 'SegmentID',
       'WktGeom', 'street', 'fromSt', 'toSt', 'Direction'],
      dtype='object')

In [26]:
# check missing values
print(df.isnull().sum())

RequestID       0
Boro            0
Yr              0
M               0
D               0
HH              0
MM              0
Vol             0
SegmentID       0
WktGeom         0
street          0
fromSt          0
toSt         1246
Direction       0
dtype: int64

In [27]:
# find the most common value (mode) in 'toSt'
most_common_tost = df['toSt'].mode()[0]

# fill missing values with the most common value (mode)
df['toSt'] = df['toSt'].fillna(most_common_tost)

# verify that there are no more missing values
print(f"Missing values in 'toSt' after filling: {df['toSt'].isnull().sum()}")

Missing values in 'toSt' after filling: 0

In [28]:
# check missing values
print(df.isnull().sum())

RequestID    0
Boro         0
Yr           0
M            0
D            0
HH           0
MM           0
Vol          0
SegmentID    0
WktGeom      0
street       0
fromSt       0
toSt         0
Direction    0
dtype: int64

In [29]:
# convert date and time columns to one "datetime" column
df['date'] = pd.to_datetime(df[['Yr', 'M', 'D', 'HH', 'MM']].rename(
    columns={'Yr': 'year', 'M': 'month', 'D': 'day', 'HH': 'hour', 'MM': 'minute'}),
    errors='coerce'
)

In [30]:
# drop the original "year, month, day, hour, minute" columns
df.drop(columns=['Yr', 'M', 'D', 'HH', 'MM'], inplace=True)

In [31]:
# convert numeric columns to proper format
df['RequestID'] = pd.to_numeric(df['RequestID'], errors='coerce')
df['SegmentID'] = pd.to_numeric(df['SegmentID'], errors='coerce')
df['Vol'] = pd.to_numeric(df['Vol'], errors='coerce')

In [32]:
# drop rows with missing important data
df.dropna(subset=['date', 'Vol'], inplace=True)

In [33]:
# clean test columns
df['Boro'] = df['Boro'].str.strip().str.lower()
df['Direction'] = df['Direction'].str.strip().str.upper()
df['street'] = df['street'].str.strip().str.lower()
df['fromSt'] = df['fromSt'].str.strip().str.lower()
df['toSt'] = df['toSt'].str.strip().str.lower()

In [34]:
# filter the data to include only rows where the year is 2023
df = df[df['date'].dt.year == 2023]

# verify the data
print(f"Data for 2023: {df.shape[0]} rows")

Data for 2023: 71328 rows

In [35]:
# save the filtered data to a new CSV file
df.to_csv("filteredTrafficVolumeCounts2023.csv", index=False)

# confirm the file is saved
print("data for 2023 has been saved to 'Filtered_Traffic_Volume_Counts_2023.csv'")

data for 2023 has been saved to 'Filtered_Traffic_Volume_Counts_2023.csv'